body{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 100vh;
  background: -webkit-linear-gradient(to top left, #1D2671, #C33764);
  background: linear-gradient(to top left, #1D2671, #C33764);
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

.site-wrap{
  background: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 7px;
  width: 100%;
  height: 100%;
}

#canvas{
  width: 100%;
  height: 100%;
}

.logo{
  width: 75px;
  height: 100px;
  color: lightblue;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  margin-right: 10px;
  transform: scale(0.6);
}
.circle{
  border: 7px solid lightblue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: -25px;
}

.animation-wrap{
  background: #000;
  width: 100%;
  height: 200px;
}

.profile-pic{
  width: 150px;
  height: 150px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 3px;
  background: -webkit-linear-gradient(to top right, #DD2476, #FF512F);
  background: linear-gradient(to top right, #DD2476, #FF512F);
}

.pp-wrap{
  width: 100%;
  height: 100%;
  background: #111;
  border-radius: 10px;
  padding: 5px;
}

.pp-img{
  background: url("./pp.jpg");
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
